In [4]:
# import your libraries
import numpy as np
import pandas as pd

In [5]:
# import dataset
fruit_df = pd.read_csv('fruit.csv')
fruit_df

#if in same folder could call it directly (relative path) but not 
# always the case.
#In Python, backslash is used to signify special characters.
# For example, "hello\nworld" -- the \n means a newline. Try printing it.
# Path names on Windows tend to have backslashes in them. 
# But we want them to mean actual backslashes, not special characters.
# r stands for "raw" and will cause backslashes in the string 
# to be interpreted as actual backslashes rather than special characters.

    Fruit  Weight  Price  Discount   Color
0   Apple    10.0   1.25        10     Red
1   Grape     2.0   2.30         5  Purple
2  Banana     3.5   4.00        15  Yellow
3   Melon     4.0   1.80        25   Green
4   Lemon     1.0   2.25        20   Green
5  Orange     6.0   3.45        30  Orange

In [6]:
# check DataFrame's shape
fruit_df.shape

(6, 5)

In [7]:
fruit_df.describe().round(2)

       Weight  Price  Discount
count    6.00   6.00      6.00
mean     4.42   2.51     17.50
std      3.23   1.03      9.35
min      1.00   1.25      5.00
25%      2.38   1.91     11.25
50%      3.75   2.28     17.50
75%      5.50   3.16     23.75
max     10.00   4.00     30.00

In [8]:
# check DataFrame's summary
fruit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruit     6 non-null      object
 1   Weight    6 non-null      float64
 2   Price     6 non-null      float64
 3   Discount  6 non-null      int64
 4   Color     6 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 368.0+ bytes

In [9]:
#fruit_df.isnull().any()
fruit_df.isnull().sum()

Fruit       0
Weight      0
Price       0
Discount    0
Color       0
dtype: int64

In [10]:
fruit_df[["Color"]]

    Color
0     Red
1  Purple
2  Yellow
3   Green
4   Green
5  Orange

In [11]:
# check summary of statistics of the DataFrame. See the difference with funtion .info()?
round(fruit_df.describe(),2)

       Weight  Price  Discount
count    6.00   6.00      6.00
mean     4.42   2.51     17.50
std      3.23   1.03      9.35
min      1.00   1.25      5.00
25%      2.38   1.91     11.25
50%      3.75   2.28     17.50
75%      5.50   3.16     23.75
max     10.00   4.00     30.00

In [12]:
fruit_df.head(1)

   Fruit  Weight  Price  Discount Color
0  Apple    10.0   1.25        10   Red

In [13]:
# slice a DataFrame with .iloc() function.
iloc_slice=fruit_df.iloc[1:3]
iloc_slice

    Fruit  Weight  Price  Discount   Color
1   Grape     2.0    2.3         5  Purple
2  Banana     3.5    4.0        15  Yellow

In [14]:
# for the sake of the next exercice, we are going to convert column [1] into the index
fruit2=fruit_df.set_index(['Fruit'])
# fruit2=pd.DataFrame(data=fruit2)
fruit2

        Weight  Price  Discount   Color
Fruit
Apple     10.0   1.25        10     Red
Grape      2.0   2.30         5  Purple
Banana     3.5   4.00        15  Yellow
Melon      4.0   1.80        25   Green
Lemon      1.0   2.25        20   Green
Orange     6.0   3.45        30  Orange

In [56]:
#fruit_df.Weight
#fruit_df[["Weight"]]
#fruit_df.iloc[1]
fruit2.loc[['Grape']]

       Weight  Price  Discount   Color
Fruit
Grape     2.0    2.3         5  Purple

In [16]:
fruit_df

    Fruit  Weight  Price  Discount   Color
0   Apple    10.0   1.25        10     Red
1   Grape     2.0   2.30         5  Purple
2  Banana     3.5   4.00        15  Yellow
3   Melon     4.0   1.80        25   Green
4   Lemon     1.0   2.25        20   Green
5  Orange     6.0   3.45        30  Orange

In [ ]:
# slice a DataFrame with .loc() function.
loc_slice=fruit2.loc[["Grape", "Lemon"]]
loc_slice

In [ ]:
fruit_df

In [ ]:
fruit_df.loc[1:3,["Weight"]]
#fruit_df["Grape"]
#fruit_df.Grape

In [ ]:
#fruit_df.loc[:, ["Price", "Color"]]
fruit_df.loc[1:3,["Price", "Color"]]